// 아래 쓴 것은 map = key:value
$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

// sass 함수
@function _get-flex-value($key) {
  //flex-start  -> start
  //flex-end -> end

  //   @if ($key == start) {
  //     @return flex-start;
  //   }
  //   @if ($key == end) {
  //     @return flex-end;
  //   }
  //   @if ($key == between) {
  //     @return space-between;
  //   }
  // 위와같이 if 문을 다 적어도 되지만, 더 간다하게 하고싶으면, map 을 사용하자!

  @return map-get($flex-map, $key);
}

@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}

@mixin inline-flexbox($jc: center, $ai: center) {
  display: inline-flex;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}

@mixin column-flexbox($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  align-items: _get-flex-value($ai);
  justify-content: _get-flex-value($jc);
}
