//변수 anana-_123 대소문자 구분함. 변수 명 숫자로 시작하면 안됌.
//보통 이런식으로 많이 사용 : 소문자만 쓰거나, 대문자만 쓰거나 honsi-1 / HONSI_1
$black: #000;
$darl: #191a20;
$primary: #3f4150;
$secondary: #8c8d96;
$teritary: #b2b3b9;
$border: #e0e2e7;
$background: #f7f8fa;
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
